<nav class="navbar navbar-expand-lg nav-top">
  <a [routerLink]="['/']" class="navbar-brand"><b>Meat</b></a>

  <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/restaurants']">Restaurantes</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/about']">Sobre</a></li>
    </ul>
  </div>   
</nav>

<!--FOOTER-->
<nav class="navbar fixed-bottom nav-bottom">
  <span>MEAT</span>
  <span class="pull-right">Versão 1.0</span>
</nav>
