.nav-top {
    background-color: #5A30B5;

    a {
        text-decoration: none !important;
        color: #FFF;
        padding: 0 10px;
    }
}

.nav-bottom {
    background-color: #000;
    color: #CCC;

    a {
        color: #CCC;
    }
}